body {
    text-align: center;
    overflow: hidden;
  }
h1 {margin: 1em;}

.info {width:40%;
  margin-left: auto;
  margin-right: auto;}
footer {position:absolute;
     bottom:0;
     left: 0;
     width:100%;
     padding: .5em;
     background: #dee2e6;}

  a {text-decoration: none;}